#login-background {
    
    background-image: url(../images/login-bg.jpg) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}

.login-window {
    
    opacity: 0.8;
}

.gmap {
  width: 100%;
  height: 480px;
  background-color: grey;
}

.middle-gmap {
  width: 100%;
  height: 300px;
  background-color: grey;
}

.checkbox-spacing input[type='checkbox'] {
    margin-right: 10px;
}
.container.vertical-center {
    vertical-align: middle;
    margin-top: 160px
}


#modal-image-window {
    
    position: fixed;
    display: none;
    max-height:400px;
    overflow: visible;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    
}
    
/* Style the Image Used to Trigger the Modal */
#modal-image {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #FFF;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}


#modal-image:hover {opacity: 0.7;}


/* Modal Content (Image) */
.modal-content {
    margin-left: 40%;
    margin-right: auto;
    display: inline-block;
    min-width: 200px;
    min-height: 300px;
    height: auto;
    padding: 10px;
}

#modal-image-window #caption {
    font-size: 24px;
    text-align: left;
    color: #333;
}

#modal-image-window #close {
    position: absolute;
    right: 10px;
    top: 10px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #header { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: relative;
    right: 3px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


.link-button {
    
    float: right;
    cursor: pointer;
    color: #ddd!important;
    /*background-color: #FFF;*/
    
}


#sorting-icon.asc:after {
    position: relative;
    font-family: FontAwesome;
    content: "\f0dd";
    top: -3px;
    padding-left: 10px;
    vertical-align: middle;
}

/*// классы для динамического добавления fontawesome-иконок*/
#sorting-icon.desc:after {
    position: relative;
    font-family: FontAwesome;
    content: "\f0de";
    top: 3px;
    padding-left: 10px;
    vertical-align: middle;
}

.await-spinner:after {
    
    position: relative;
    font-family: FontAwesome;
    content: "\f0de";
    top: 3px;
    padding-left: 10px;
    vertical-align: middle;
}

.unlinked {
    
    background-color: #e6e6e6;
}

.editable-field {
/*    min-width: 200px!important; не работает, неудобно кликать по редактируемому полю без значения*/
}


.hilite {
    border: aqua;
    background-color: #d6f3fe;
}

/*Gmap styles*/

.controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }
      
#pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}